|Здравствуйте, #{@user.fio}
  ===============================================

  Вы запросили сброс пароля.

  Для того, чтобы выбрать новый пароль перейдите по ссылке: #{@url}

  Если Вы не запрашивали изменение пароля, то никаких действий предпринимать не нужно.

  С уважением, Jinni