/p= link_to 'Login with Twitter', auth_at_provider_path(provider: :twitter)
p= link_to 'Login with Facebook', auth_at_provider_path(provider: :facebook)
p= link_to 'Login with Google', auth_at_provider_path(provider: :google)