|  <!--***************************
|  Footer Area
|  ****************************-->
|  <div id="footer">
|    <div class="container">
|      <div class="row">
|
|        <!-- About Us Widget ******************************************
|        *********************************************************** -->
|        <div class="col-md-3 col-lg-3 widget wow fadeIn" data-wow-delay="0.4s">
|          <div class="footer-heading">
|            <h4>About Us</h4>
|            <hr>
|          </div>
|
|          <div class="about-details">
|            <a class="logo" href="#">
|              <img class="media-object img-responsive" src="assets/logo.png" alt="...">
|            </a>
|            <div class="description">
|              <h6 class="media-heading">Who and What is Styled Theme.</h6>
|              <p class="small">Curabitur pellentesque massa eu nulla consequat sed porttitor arcu porttitor. Quisque volutpat pharetra felis. Curabitur pellentesque massa eu nulla consequat sed porttitor arcu porttitor. Quisque volutpat pharetra felis.</p>
|              <ul class="footer-social">
|                <li><a href=""><i class="fa fa-facebook"></i></a></li>
|                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
|                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
|                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
|                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
|              </ul>
|            </div>
|          </div>
|
|        </div>
|
|        <!-- Latest Posts Widget **************************************
|        *********************************************************** -->
|        <div class="col-md-4 col-lg-4 widget wow fadeIn" data-wow-delay="0.8s">
|          <div class="footer-heading">
|            <h4>Latest Posts</h4>
|            <hr>
|          </div>
|
|          <div class="media">
|            <a class="pull-left" href="#">
|              <img class="media-object" src="assets/blog/01.jpg" alt="...">
|            </a>
|            <div class="media-body">
|              <p class="bold"><a href="#">Top 10 Trending Themes</a></p>
|              <p class="small">Sed porttitor arcu porttitor. Quisque volutpat pharetra felis.</p>
|            </div>
|          </div>
|          <div class="media">
|            <a class="pull-left" href="#">
|              <img class="media-object" src="assets/blog/02.jpg" alt="...">
|            </a>
|            <div class="media-body">
|              <p class="bold"><a href="#">5 Common Mistakes of Website Design</a></p>
|              <p class="small">Curabitur pellentesque massa eu nulla consequat sed.</p>
|            </div>
|          </div>
|          <div class="media">
|            <a class="pull-left" href="#">
|              <img class="media-object" src="assets/blog/03.jpg" alt="...">
|            </a>
|            <div class="media-body">
|              <p class="bold"><a href="#">6 Easy Ways to Create a Website</a></p>
|              <p class="small">Porttitor arcu porttitor. Quisque volutpat pharetra felis.</p>
|            </div>
|          </div>
|        </div>
|
|        <!-- Contact Info Widget **************************************
|        *********************************************************** -->
|        <div class="col-md-2 col-lg-2 widget wow fadeIn" data-wow-delay="1.2s">
|          <div class="footer-heading">
|            <h4>Contact Info</h4>
|            <hr>
|          </div>
|
|          <address>
|            <strong>Octoberian, Inc.</strong><br>
|            12345 Igbalanga<br>
|            Bugasong, Antique, PH, 5704<br>
|            <abbr title="Phone No.">P:</abbr> 0927-338-2289
|          </address>
|
|          <address>
|            <strong>Email</strong><br>
|            <a href="mailto:#">info@mywebsite.com</a>
|          </address>
|          <address>
|            <strong>Website</strong><br>
|            <a href="mailto:#">www.octoberian.com</a>
|          </address>
|        </div>
|
|        <!-- Services Lists Widget ************************************
|        *********************************************************** -->
|        <div class="col-md-3 col-lg-3 widget wow fadeIn" data-wow-delay="1.6s">
|          <div class="footer-heading">
|            <h4>Services</h4>
|            <hr>
|          </div>
|          <ul class="fa-ul">
|            <li class="service-lists"><i class="fa fa-li fa-caret-right"></i>Web Design Services</li>
|            <li class="service-lists"><i class="fa fa-li fa-caret-right"></i>Branding and Identity Design</li>
|            <li class="service-lists"><i class="fa fa-li fa-caret-right"></i>SEO / SEM</li>
|            <li class="service-lists"><i class="fa fa-li fa-caret-right"></i>Social Media Management</li>
|            <li class="service-lists"><i class="fa fa-li fa-caret-right"></i>Wordpress Development</li>
|            <li class="service-lists"><i class="fa fa-li fa-caret-right"></i>Online Marketng</li>
|            <li class="service-lists"><i class="fa fa-li fa-caret-right"></i>Project Management</li>
|            <li class="service-lists"><i class="fa fa-li fa-caret-right"></i>And So Much More</li>
|          </ul>
|
|        </div>
|      </div>
|    </div>
|  </div>
|
|    <!--***************************
|  Footer Navbar
|  ****************************-->
|  <nav id="footer-nav">
|    <div class="container">
|      <div class="copyright">
|        <span>All Rights Reserved © <a href="#">Octoberian Template</a>  |  Template By <a href="#">JLP Media</a></span>
|        <ul class="footer-nav navbar-right">
|          <li><a href="">Terms of Use</a><span class="dot"></span></li>
|          <li><a class="dot" href="">Privacy Policy</a><span class="dot"></span></li>
|          <li><a href="">Money Back Guarantee</a></li>
|        </ul>
|      </div>
|    </div>
|  </nav>
